* {
    font-family: "Signika", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("colorful-background-texture-multi-color-orange-illustration-3840x2715-3104.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    padding-top: 150px;
}

footer {
    margin-right: 10px;
    font-size: 1em;
    opacity: 0.7;
    position: fixed;
    bottom: 5px;
    right: 2px;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 30px;
}

img {
    width: 300px;
    height: 300px;
    border: rgba(19, 18, 39, 0.7) 5px solid;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 7vh;
    color: white;
    text-align: center;
}

h2 {
    font-size: 5vh;
    color: white;
    text-align: center;
    margin-bottom: 80px;
}

a {
    font-size: 3vh;
    color: #fffbfe;
    text-decoration: none;
    width: 250px;
    height: 350px;
    text-align: center;
}

a:hover {
    color: #061131;
    font-weight: bolder;
}

.welcome {
    display: inline-block;
}

.projects {
    align-self: center;
    border-radius: 25px;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.projects:hover {
    box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.4);
    color: #d0cfcf;
}

.descriptionimage {
    width: 850px;
    height: 550px;
    object-fit: cover;
    border-radius: 20%;
    border: none;
    box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.4);
}

.descriptionimage:hover {
    width: 850px;
    height: 550px;
    object-fit: cover;
    border-radius: 20%;
    border: none;
    box-shadow: 0 8px 16px 5px rgba(0, 0, 0, 0.4);
}

.onemorecontainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.projectslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.viewproject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

.tellmemore {
    font-size: 1.5em;
    color: white;
    padding-top: 10px;
}

button {
    width: 140px;
    height: 70px;
    font-size: 3vh;
    font-family: inherit;
    color: white;
    border-radius: 25px;
    background: #3e0265;
    background: -moz-linear-gradient(
        -45deg,
        #2d0a6e 0%,
        #1c38c5d5 0%,
        #270a75 100%
    );
    background: -webkit-linear-gradient(
        -45deg,
        #150d5a 0%,
        #152ea7 0%,
        #3e0a75 100%
    );
    background: linear-gradient(135deg, #201775 5%, #2841af 0%, #3e0a75 100%);
    border: rgba(19, 18, 39, 0.7);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.4);
    color: white;
}

button:active {
    box-shadow: inset 0 3px 8px 0 rgba(21, 41, 78, 0.582);
    color: rgba(143, 93, 18, 0.7);
}

.title {
    text-decoration: underline;
}

.currentproject {
    box-shadow: inset 10px 16px 16px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    color: rgb(230, 137, 56);
}

.titlesdescription {
    border-radius: 35px;
    padding: 10px;
    font-size: 2em;
}
