<div class="container">
    {{#projectsData}}
    <div class="projects">
        <a href="/{{directory}}"><img src="/{{directory}}/screenshot.png" alt=""><p>{{name}}</p></a>
    </div>
    {{/projectsData}}
</div>